/* UTILITAIRES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  height: 100%;
  background-color: rgb(36, 36, 36);
}

/* header */

.header {
  background-color: rgb(54, 54, 54);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 100%;
  position: fixed;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgb(54, 54, 54);
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #808080;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Rubik';
  transition: 0.3s;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #686868;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  color:rgb(255, 255, 255);
  font-family: 'Rubik';
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: rgb(255, 255, 255);
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: rgb(255, 255, 255);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* "Main" */
.welcome {
  height: 100%;
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  margin-right: 5%;
  margin-left: 5%;
}

.welcome h1 {
  font-family: "Nunito", sans-serif;
  font-size: clamp(2rem, 6vw, 5rem);
  color: rgb(255, 255, 255);
  text-shadow: 0 0 7px rgb(119, 119, 119);
}

.welcome p {
  font-family: "Rubik", sans-serif;
  font-size: calc(5px + 1vw);
  color: white;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.developer {
  width: 20vw;
  margin-top: 4vw;
}
